<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.mathema.de/typesystem/Typesystem" 
       class = "de.mathema.typesystem.typesystem.TypesystemPackage"
       genModel = "model/generated/Typesystem.genmodel" /> 
	
  </extension>



</plugin>
